.highlight-menu-corate {
    color: white;
}

.corate-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeJJREFUeNpi/P+JAR3YAHEAENsCsSwQ/wfip0B8GIg3QGkEABkAxWxA3A3E/wngXiDmgOljhLqAE4jXAbEHA3FgN9SV35iABCMQN8M0//nKDsTMDH+/ATm/EDo+v1MGSsK5rkDcDsTMIBdYABnHYTK3bjoz9MzkY3j58guDrZUog7ryP4aZC14x/Pjxm6GmWJzBwXYNSniBXBCDLKIit5dBXoaD4eql2wyzZp9guHCVkUFAgIvhwd3HDE9esKF7JY4FGupwwAQMDQ1VCFtbV4WhMOkoAw/fI4bNuyMY9NQfoRtgBTJAFF3023cmMC0qys3Aww/UBOT6eqzAFpjCsEBEAYxQkZ8//zL8/YE3NhhBBrxGF2Vn+w+m2ViZGJi5gIx/DAxbdkYwnDvvg670LciAoyhCwKh7/grCfPn6C8Ovz7wM+w6HMhSUnGAoqX/P8POzILLqYyADliCLPH5mxXDm/GcGDR1lhh/ffzFsO+TDoKb4mEFDW4lBT1eKgZ3zPbLyxaB0ADKkF4gLQCJfP8gwvP8kwyAicIfhw2cFsCoJ6TPAAAH5DcWtU4E4DzkpbwJiFyKT8j4g9gPZxwQV+A4V6CNC80Qg9gVpBkcDluxsD8SB0OwsBRV7jpSd9yMrBggwANkAsIIzfXmCAAAAAElFTkSuQmCC');
}

.highlight-menu .highlight-menu-arrow-clip {
    bottom: -8px !important;
    margin-left: -10px !important;
}

.notes-highlight
{
background: yellow!important;
}

.yellow {
    color: #FFF200!important;
}